
<form *ngIf="gameForms" [formGroup]="gameForms">

        <ng-container *ngIf="gameForms.controls['gameFormArray']">
            <ng-container formArrayName='gameFormArray' >
                <div class="row align-self-center"  *ngFor="let gameArrayElement of gameForms.controls['gameFormArray'].value; index as i; trackBy:trackByFn"  >
                    <div class="col">
                        <ng-container [formGroupName]="i">
                            <div> <h4> <input formControlName="groupName" class="bg-transparent border-0 box-shadow-only-hover" /> </h4> </div>

                            <ng-container *ngIf="gameArrayElement.gamerPersonas" formArrayName='gamerPersonas' >
                                <div class="row align-self-center"  *ngFor = "let gamerPersona of gameArrayElement.gamerPersonas;  let gamePersonaIndex = index;  trackBy:trackByFn" > 
                                    <div class="col">
                                        <div class="card box-shadow-only-hover"  >
                                            <table class="table-responsive-sm "  >
                                                <tr class="p-1 table-dark m-0 p-0 " > 
                                                    <td class="p-2 align-middle" style="width: 5rem;">
                                                        <div class="icon-50 theme-bg  border-radius-50 dark-font-color align-middle d-inline-block">
                                                            <i class="string ">{{ gamerPersona.playOrder }}</i>
                                                        </div>
                                                    </td>
                                                    <td>

                                                        <ng-container [formGroupName]="gamePersonaIndex">
                                                            <div class="row bg-secondary  ">   <input formControlName="name" class="bg-transparent border-0 box-shadow-only-hover text-light font-weight-bold" />   </div>
                                                            <div class="row table-dark">
                                                            <ng-container *ngIf="gamerPersona.bowlingFrames" formArrayName='bowlingFrames'  >

                                                                <div  class="col-xs table-dark border-right border-bottom border-secondary "  *ngFor = "let bowlingFrame of gamerPersona.bowlingFrames;  let bowlingFrameIndex = index;  trackBy:trackByFn"   > 
                                                                    <ng-container [formGroupName]="bowlingFrameIndex">
                                                                        <!-- <div>   <input contenteditable=false formControlName="frameNumber" class="bg-transparent border-0"   />   </div> -->
                                                                        <table class="table  table-dark m-0" style="width: 6rem;" >
                                                                            <ng-container *ngIf="bowlingFrame.scores" formArrayName='scores'  >
                                                                                    <tr>
                                                                                        <ng-container   *ngFor = "let score of bowlingFrame.scores;  let ballIndex = index;  trackBy:trackByFn"   > 
                                                                                            <ng-container [formGroupName]="ballIndex">
                                                                                                <!-- <td align ="right" > <input type="number" contenteditable=false formControlName="ballIndex" maxlength="2"  min="1"   max="2"  class="table-dark bg-transparent border-0" />  </td> -->
                                                                                                <td  align ="right"  > <input type="number" contenteditable=true formControlName="score" maxlength="2"  min="0"   max="10" class="table-dark bg-transparent border-0 "/>   </td>
                                                                                            </ng-container>
                                                                                        </ng-container>

                                                                                    </tr>
                                                                                    <tr>
                                                                                        <!-- <td class="col-xs" align ="right"></td> -->
                                                                                        <td class="col-xs table-dark border-top border-right border-light" align ="right"  >  {{ bowlingFrame.frameScore }} </td>
                                                                                    </tr>
                                                                            </ng-container>
                                                                        </table>

                                                                    </ng-container>



                                                                </div>
                                                            </ng-container>
                                                            </div>
                                                        </ng-container>

                                                    </td>
                                                </tr>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </ng-container>

                        </ng-container>
                    </div>
                </div> 
            </ng-container>
        </ng-container>

</form>
