<!-- <div *ngFor = "let bwGame of bowlingGames" >
    <div>{{bwGame.groupName}}  </div>  
</div> -->

<!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
<form *ngIf="gameForms" [formGroup]="gameForms">
    <!-- <div class="container" > -->

        <!--trackBy:trackByFn      track by i; -->
        <!-- this._parent.form.controls.gameFormArray.controls[0].controls.groupName.value -->
        <!-- <div formArrayName="gameFormArray" *ngFor="let gameArrayElement of gameForms.controls.gameFormArray?.value; let i = index; trackBy:trackByFn"> 
            <ng-container [formGroupName]="i" key=i>
            <input contenteditable=false track by id="groupName-{{i}}" type="text" formControlName="groupName" ng-model="gameArrayElement"  >
            </ng-container>
        </div>  -->
        <!-- <div formArrayName="gameFormArray" >  -->

            <!-- [formGroupName]="gameForms" -->
        <ng-container *ngIf="gameForms.controls['gameFormArray']">
            <ng-container formArrayName='gameFormArray' >
                <div  *ngFor="let gameArrayElement of gameForms.controls['gameFormArray'].value; index as i; track by i"  >
                <!-- <div  *ngFor="let gameArrayElement of gameForms.value.gameFormArray; index as gameIndex; trackBy:trackByFn;"  > -->
                    <!-- {{gameArrayElement.groupName}} -->
                    <ng-container [formGroupName]="i">
                        <div> <h4> <input formControlName="groupName" class="bg-transparent border-0 box-shadow-only-hover" /> </h4> </div>

                        <ng-container formArrayName='gamerPersonas' >
                            <!-- *ngIf="gameArrayElement.gamerPersonas"  -->
                            <div   *ngFor = "let gamerPersona of gameArrayElement.gamerPersonas; let gamePersonaIndex = index; let gamePersonaIndex = index; track by gamePersonaIndex" > 
                            <!-- <div   *ngFor = "let gamerPersona of gameArrayElement['gamerPersonas'].value; let gamePersonaIndex = index;" formGroupName="gamePersonaIndex">  -->
                                <!-- {{gamerPersona}} -->
                                <!-- class="row"   -->
                                <ng-container [formGroupName]="gamePersonaIndex">
                                    <div>   <input formControlName="name" class="bg-transparent border-0 box-shadow-only-hover" />   </div>
                                </ng-container>
                            </div>
                        </ng-container>


                    </ng-container>

                </div> 
            </ng-container>
        </ng-container>
        <!-- </div> -->

    <!-- </div> -->
</form>
